/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* style */

body {
    font: 16px/20px arial, sans-serif;
    background-color: #d1cfcf;
    color: #333;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: lightskyblue;
    border-bottom: 2px solid salmon;
    z-index: 9999;
}

.container {
    width: 960px;
    margin: 105px auto;
    margin-bottom: 2px;
    background-color: #fff;
    position: relative;
}

.insta {
    width: 200px;
    height: 200px;
    background-image: url(image/ribborn.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: -80px;
    right: -50px;
}

.header {
    padding: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.judul {
    font-family: "Acme";
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
    font-family: "Action-Man";
}

.header a {
    text-decoration: none;
    text-transform: capitalize;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightblue;
    color: white;
    font-family: "Action-Man";
}

.hero {
    height: 450px;
    background-image: url(image/computer.jpg);
    background-size: cover;
    background-position: 0px -20px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid salmon;
}

.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
    margin-top: 1px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main p {
    margin-bottom: 23px;
    font-size: 14px;
    font-family: "Action-Man";
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
    margin-top: 10px;
}

.sidebar h3 {
    font-size: 20px;
    font-weight: bold;
    color: #666;
    text-transform: capitalize;
}

.sidebar p {
    font: 12px/18px arial;
    margin-top: 10px;
    font-family: "Acme";
}


/*clearfix*/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@font-face {
    font-family: "Alex-Brush";
    src: url("font/alexbrush-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Action-Man";
    src: url("font/Action_Man_Bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Acme";
    src: url("font/Acme-Regular-webfont.woff") format("woff");
}